<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
<meta charset="utf-8" />
<title>布局float</title>
<style>

/* float：none | left | right */

/* none：设置对象不浮动 */
/* left：设置对象浮在左边 */
/* right：设置对象浮在右边 */

/* 该属性的值指出了对象是否及如何浮动。请参阅clear属性 */
/* 如果float不是none，当display:inline-table时，display的计算值为table；当display:inline | inline-block | run-in | table-* 系时，display的计算值为block，其它情况为指定值； */
/* float在绝对定位和display为none时不生效。 */

.test {
  float: right;
  background: #eee;
}
</style>
</head>
<body>
<div class="test">我将出现在屏幕右方</div>
</body>
</html>