<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
<meta charset="utf-8" />
<title>布局overflow-y</title>
<style>

/* overflow-y：<overflow-style> <overflow-style> = visible | hidden | scroll | auto | paged-x | paged-y | paged-x-controls | paged-y-controls | fragments */

/* visible：对溢出内容不做处理，内容可能会超出容器。 */
/* hidden：隐藏溢出容器的内容且不出现滚动条。 */
/* scroll：隐藏溢出容器的内容，溢出的内容将以卷动滚动条的方式呈现。 */
/* auto：当内容没有溢出容器时不出现滚动条，当内容溢出容器时出现滚动条，按需出现滚动条。此为body对象和textarea的默认值。 */

.test {
  overflow-y: auto;
  width: 200px;
  height: 100px;
}
</style>
</head>
<body>
<div class="test">
  <ul>
    <li>新闻列表</li>
    <li>新闻列表</li>
    <li>新闻列表</li>
    <li>新闻列表</li>
    <li>新闻列表</li>
    <li>新闻列表</li>
  </ul>
</div>
</body>
</html>